<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.RoleMapper">

	
	<select id="getRole"  resultType="string">
			SELECT 
				role_table.role_name
			FROM 
				user_role INNER JOIN role_table
				ON
					user_role.role_id = role_table.role_id
			WHERE
				user_role.app_user_id = #{userId}
	</select>
	
	<insert id="addRoleUser">
		INSERT INTO
				user_role(
					app_user_id,
					role_id
				)
				VALUES(
					#{userId},
					#{roleId}
				)
	</insert>
	
	<delete id="deleteRoleUser">
		DELETE FROM
			app_user_role
		WHERE
			app_user_id=#{userId}
	</delete>
	
</mapper>