<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" th:remove="tag">
</head>
<body th:with="userId=${#authentication.principal.userId}">
		<!--コンテンツの配置-->
	<main layout:fragment="content"
		class="offcanvas-outside bg-light">
		<div class="container-fluid">
		
	
				<!--フラグメンツの表示-->
			<div th:replace="~{fragments/header :: header}">
			</div>
					
			<!-- トグルボタン-->
			<div th:replace="~{fragments/sidebar :: toggler}">
			</div>
					
				<!-- サイドバー -->
			<div layout:fragment="sidebar"
				th:replace="~{fragments/sidebar::sidebar}">
			</div>
			
			<!-- 投稿ボタン -->
			<div th:replace="~{fragments/uploader::uploader}">
			</div>
			
			<div style="padding: 50px 0 80px" class="content_index">
				<div class="row align-item-center p-3 g-4" >
					<div class="card shadow col-md-8">
						<!--ヘッダー -->	
						<div class="card-header">
							<h6 class="text-navy my-2">
								投稿
							</h6>
						</div>
						
						<!-- 本体-->
						<div class="card-boby pt-3">
							<div th:object="${postInfo}">
								<div class="card p-3 shadow">									
									<div>
										<h6>
											<a th:href="@{/user/userpage/{userId}(userId=${postInfo.userId})}">
												[[*{appUserName}]]
											</a>
										</h6>
										<p class="text-secondary">ID:[[*{userId}]] 投稿日時:[[*{#temporals.format(created , "yyyy/MM/dd HH:mm")}]]</p>
									</div>
									<div class="word-break-break-all">
										<th:blick th:each="line , lines : ${postInfo.splitMessage}">
											<p th:text="${line}"></p>
											
										</th:blick>
									</div>
									<hr>
									<div>
										<h7>
										<p>技術カテゴリ : [[*{techCategory}]] 投稿カテゴリ : [[*{postCategory}]]</p>										
										<p>いいね : [[*{userList.size()-1}]]</p>
										</h7>
									</div>	
									<div th:if="${userself}">
										<div class="row">
											<div class="col-md-2"></div>
											<div class="col-md-4">	
											<form th:action="@{/post/update}" method="get">
												<input type="hidden" name="postId" th:value="*{postId}">
												<input type="hidden" name="message" th:value="${postInfo.message}">
												<input type="hidden" name="userId" th:value="${postInfo.userId}">
												<input type="hidden" name="created" th:value="${postInfo.created}">
												<input type="hidden" name="appUserName" th:value="${postInfo.appUserName}">
												<input type="hidden" name="userList" th:value="${postInfo.userList}">
												<input type="hidden" name="techCategory" th:value="${postInfo.techCategory}">
												<input type="hidden" name="postCategory" th:value="${postInfo.postCategory}">
												<button type="submit" class="btn btn-primary">
													投稿を編集
												</button>
											</form>
											</div>
											<div class="col-md-4">
											<form th:action="@{/post/delete/{postId}/{userId}(postId=*{postId},userId=${postInfo.userId})}" method="post">
												<button type="submit" class="btn btn-danger">
													投稿を削除
												</button>
											</form>
											</div>
										</div>
									</div>
								</div>		
							</div>
								
							<br>
							<div>					
								<table class="border">
									<tbody>
										<form method="post" th:action="@{/comment/upload}" th:object="${commentForm}">
											<div class="p-2">
											<tr>
												<label class="form-label">
													コメントの投稿
												</label>
												<textarea class="form-control"  th:field="*{commentText}"
													 placeholder="コメントを入力" th:errorclass="is-invalid" >
												</textarea>
												<div clsss="invalid-feedback" th:errors="*{commentText}"></div>
												<input type="hidden" name="postId" th:value="${postInfo.postId}" >
											</tr>
											</div>											
											
											<div class="p-2">
											<tr>
												<button class="btn btn-primary" type="submit">
													送信
												</button>
											</tr>
											</div>
										</form>	
									</tbody>
								</table>									
							</div>
							
							<br>		
							<div th:if="${not userself}">
								<div th:switch="${likeflg}">
									<span th:case="false">
										<form id="like" method="post" th:action="@{/like/add/{postId}/{userId}(postId=${postInfo.postId},userId=${postInfo.userId})}">
											<div class="text-center">
												<button class="btn btn-primary" type="submit" name="like">
													いいね
												</button>
											</div>
										</form>
									</span>
									
									<span th:case="true">
										<form id="likecanncel" method="post" th:action="@{/like/delete/{postId}/{userId}(postId=${postInfo.postId},userId=${postInfo.userId})}">
											<div class="text-center">
												<button class="btn btn-danger" type="submit" name="likecanncel">
													いいね解除
												</button>
											</div>
										</form>
									</span>
								</div>
							</div>
							<br>
						</div>					
					</div>			
							
					<!--コメントの表示-->
					<div th:if="${comments.size() == 0}">
						コメントはまだありません
					</div>
					
					<div class="card shadow col-md-8">
						<!--ヘッダー -->	
						<div class="card-header">
							<h6 class="text-navy my-2">
								コメント
							</h6>
						</div>
						
						<div th:if="${comments.size() > 0}">
							<div th:each="commentInfo:${comments}"
									th:object="${commentInfo}">
								<div class="card-body">
									<div class="card p-3 shadow">
										<h6>
											<a th:href="@{/user/userpage/{userId}(userId=*{userId})}">
												[[*{appUserName}]]
											</a>
											
										</h6>
										<p class="text-secondary">ID:[[*{userId}]] 投稿日時:[[*{#temporals.format(created , "yyyy/MM/dd HH:mm")}]]</p>
										<div class="word-break-break-all">
											<div th:each="line , lines : ${commentInfo.splitComment}">
												<p th:text="${line}"></p>
											</div>
										</div>
										<div sec:authorize="${#vars.userId == #vars.commentInfo.userId}">										
											<form th:action="@{/comment/delete}" method="post" >
											 
												<input type="hidden" name="commentId" th:value="${commentInfo.commentId}">
												<input type="hidden" name="userId" th:value="${commentInfo.userId}">
												<input type="hidden" name="postId" th:value="${commentInfo.postId}">
												<button type="submit" class="btn btn-danger">
													コメントを削除する
												</button>
											</form>										
										</div>	
									</div>	
								</div>
							</div>
						</div>
						<br>
					</div>	
				</div>					
			</div>
		</div>
	</main>
</body>
</html>