<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
			<!--コンテンツの配置-->
	<main layout:fragment="content"
		class="offcanvas-outside bg-light">
		<div class="container-fluid">
		
	
				<!--フラグメンツの表示-->
			<div th:replace="~{fragments/header :: header}">
			</div>
					
			<!-- トグルボタン-->
			<div th:replace="~{fragments/sidebar :: toggler}">
			</div>
					
				<!-- サイドバー -->
			<div layout:fragment="sidebar"
				th:replace="~{fragments/sidebar::sidebar}">
			</div>
				
			<div style="padding: 50px 0 80px" class="content_index">
				<div class="row align-item-center p-3 g-4" >
					<div class="col-md-7">
				<!-- コンテンツの表示-->
						<h2>投稿</h2>
						
						<form th:action="@{/post/upload}" method="post" th:field="${postForm}">
							
							<div class="form-group">
								<label for="postCategory">投稿カテゴリ</label>
								<select class="form-control" th:field="${postForm.postCategoryId}">
									<option th:value="1" th:text="質問"></option>
									<th:block th:each="postCategory:${postCategories}">
										<option	th:value="${postCategory.postCategoryId}" 
												th:text="${postCategory.postCategoryName}">
										</option>
									</th:block>
								</select> 
							</div>
							
							<div class="form-group">
								<label for="techCategory">技術カテゴリ</label>
								<select class="form-control" th:field="${postForm.techCategoryId}">
									<option th:value="4" th:text="java"></option>
									<th:block th:each="techCategory:${techCategories}">
										<option	th:value="${techCategory.techCategoryId}" 
												th:text="${techCategory.techCategoryName}">
										</option>
									</th:block>
								</select>
							</div>
							
							<div class="form-group">
								<label class="form-label">メッセージ</label>
								<textarea class="form-control"  th:errorclass="is-invalid" th:field="${postForm.postText}"
									placeholder="投稿内容を入力してください">
								</textarea>
								<div class="invalid-feedback" th:errors="${postForm.postText}"></div>
							</div>
							<br>
							<div class="form-button">
								<input class="btn btn-primary" type="submit" value="投稿する">
							</div>
							
						</form>
					
					</div>
			 	</div>
			</div>
		</main>
	</div>
</body>
</html>